  <footer id="footer">
    <nav>
      <ul>
        <li>&copy; 2019 Washington State Administrative Office of the Courts Minority Justice Commission</li>
        <li>
          <a href="https://beta.lfocalculator.org/static/media/financial-status-declaration.26698d35.docx">Declaration of Financial Status</a>
        </li>
        <li>
          <a href="/help/">Help</a>
        </li>
          <li>
          <a href="/fax/">FAQ</a>
        </li>
      </ul>
    </nav>
    <p><span>Washington State LFO Calculator</span></p>
  </footer>