{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "description"}} {{ .Site.Description}}  {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>The Legal Financial Obligation (LFO) Calculator was built to help Washington State judges adjudicate cases involving LFOs.  The calculator provides users the only centralized resource combing laws specific to the charged crimes, a person’s ability to pay, and tools to determine reasonable payment options.
    The Washington State Supreme Court's Minority and Justice Commission created the LFO calculator as part of a Department of Justice grant under a program called "Price of Justice: Rethinking the Consequences of Justice Fines and Fees." Microsoft joined the effort as part of their Corporate Responsibility mission, bringing technical resources and funding to the table in order to build and deliver this as a publicly available resource and bring awareness to LFOs.</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://beta.lfocalculator.org" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Try the LFO Calculator</a> </p>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Mobile-first Design</h3>
        <p>The LFO Calculator uses a modern web design framework that allows it work in all kinds of devices.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Cross-browser</h3>
        <p>The LFO Calculator works in all modern browsers, both desktop and mobile, including the latest Chrome, Firefox, Safari, Opera, IE (> 11) and Edge versions.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Open Source</h3>
        <p>The LFO Calculator is released under the MIT Open Source License and it free to use for personal and commercial purposes.</p>
      </div>
    </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
